@model ToolProgramCore.Models.ToolTracker

@{
    ViewData["Title"] = "CheckOut";
}

<h1 class="mt-5" >Check Out Tool</h1>
@*TODO ADD CHECKOUT ICON*@

<h4>Tool Tracker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckOut">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ToolNo" class="control-label"></label>
                @*TODO ADD validation for tool*@
                @*TODO add validation for if it has a valid WC*@
                <input asp-for="ToolNo" id="tool" class="form-control" onfocus="toolFocus()" onblur="getWC()" value="TTU " list="Tool_Data">
                <datalist id="Tool_Data">
                    @if (!(Model is null))
                    {
                        foreach (var tool_lst in Model.ToolNoDropDownList)
                        {

                            <option value="@tool_lst[1]">@(tool_lst[2])</option>
                        }
                    }
                </datalist>
                <span asp-validation-for="ToolNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Promise_Return_Date" class="control-label"></label>
                <input asp-for="Promise_Return_Date" class="form-control" />
                <span asp-validation-for="Promise_Return_Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WC_From" class="control-label"></label>
                <input asp-for="WC_From" id="wc" class="form-control" readonly="readonly" />
                <span asp-validation-for="WC_From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WC_To" class="control-label"></label>
                <input asp-for="WC_To" class="form-control" />
                <span asp-validation-for="WC_To" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EmpNo" class="control-label"></label>
                <input asp-for="EmpNo" class="form-control" />
                <span asp-validation-for="EmpNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input onclick="getWC" type="submit" value="CheckOut" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="Index">Back to List</a>
</div>


<script>
    var ToolInput = $("#tool");

    // Execute a function when the user presses a key on the keyboard
    ToolInput.addEventListener("keypress", function (event) {
        // If the user presses the "Enter" key on the keyboard
        if (event.key === "Enter") {
            // Cancel the default action, if needed
            event.preventDefault();

            getWC();
        }
    });

</script>

<script>

    function getWC() {
        // Get the tool value from the input

        var toolValue = $("#tool").val();

        // TODO: can maybe used to pass in lists //var LocationsList = $("#toolListRaw").value

        // Check if the tool value len is greater than "TTU "
        if (toolValue.length > 5) {

            // run helper function in contoller to auto enter WC based on tool
            $.ajax({
                type: "POST",
                data: {
                    Tool: toolValue
                },
                url: '/ToolTracker/GetWC',
            }).done(function (result) {
                $("#wc").val(result);
            });
        }
        else {
            //alert("Tool too short");
        }
    }

    

    

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
