@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5 ">Welcome to the Tools Program</h1>
    <p class="w-75 m-auto">If you would like technical help or a question, please contact the IT Department 
        If you would like to add a Work center or a user, please contact QA ENG.
    </p>
</div>

<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Quick Links</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start ">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img alt="ruler Icon" class="bi" width="50" height="50" src="~/Images/ruler.png" />
            </div>
            <div>
                <h2 class="mb-3">Measures</h2>
                <p>Before using any measuring equipment on product tools MUST be verified with a calibrated standard and entered here.</p>
                <a href="~/Measure/AddMeasure" class="btn btn-primary buttonPurple">
                    Add Measure
                </a>
                <a href="~/Measure" class="btn btn-primary">
                    View Recent
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start ">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img alt="ruler Icon" class="bi" width="50" height="50" src="~/Images/toolbox.png" />
            </div>
            <div>
                <h2 class="mb-3">Tool Check Out</h2>
                <p>If you would like to move a meauring tool to another work center location please check it out. You will be asked for a return date, where you will come back and return it.</p>
                <a href="~/ToolTracker/CheckOut" class="btn btn-primary buttonOrange">
                    Check Out
                </a>
                <a href="~/ToolTracker/Index" class="btn btn-primary">
                    Return
                </a>
            </div>

         </div>

        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img alt="ruler Icon" class="bi" width="50" height="50" src="~/Images/computer.png" />
            </div>
            <div>
                <h2 class="mb-3">Admin Login</h2>
                <p>Make changes to various fields and properties to keep form options up to date. In the future will be used to view reports. </p>
                <a href="~/Home/AdminLoggedIn" class="btn btn-primary">
                    Login
                </a>
                
            </div>
        </div>
        
    </div>
</div>
