html {
  font-size: 18px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.buttonPurple {
    background-color: #7030A0;
    border-color: #56267A;
}

.buttonPurple:hover {
    background-color: #56267A;
}

.buttonOrange {
    background-color: #ED7D31;
    border-color: #D26E2B;
    color: black;
    font-weight: 500;
}

    .buttonOrange:hover {
        background-color: #D26E2B;
        color: black;
        font-weight: 500;
    }

