@model ToolProgramCore.Models.ToolMeasure

@{
    ViewData["Title"] = "AddMeasure";
}

<h1>AddMeasure</h1>

<h4>ToolMeasure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMeasure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group visually-hidden">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID" class="form-control" />
                <span asp-validation-for="ID" class="text-danger"></span>
            </div>
            <div class="form-group visually-hidden">
                <label asp-for="T_Date" class="control-label"></label>
                <input asp-for="T_Date" class="form-control" data-format="dd/MM/yyyy HH:mm:ss PP"
                />
                <span asp-validation-for="T_Date" class="text-danger"></span>
            </div>
        
       
            <button id="toggle-button">Custom Time</button>
            <div class="form-group">
                <label asp-for="WC">Work Center</label>
                <input asp-for="WC" class="form-control" list="Work_Center" placeholder="Type to search...">
                <datalist id="Work_Center">
                        @if (!(Model is null))
                        {
                            foreach (var wc in Model.WCdropDownList)
                            {
                            <option value="@wc.Trim()"></option>
                            }
                        }
                </datalist>
                </input asp-for>
                
                <span asp-validation-for="WC" class="text-danger"></span>
            </div>
            <div@* class="form-group">
                <label asp-for="WC" class="control-label"></label>
                <input asp-for="WC" class="form-control" />
                <span asp-validation-for="WC" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ToolNo" class="control-label"></label>
                <input asp-for="ToolNo" class="form-control" />
                <span asp-validation-for="ToolNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpNo" class="control-label"></label>
                <input asp-for="EmpNo" class="form-control" />
                <span asp-validation-for="EmpNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="S_Size" class="control-label"></label>
                <input asp-for="S_Size" class="form-control" />
                <span asp-validation-for="S_Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
  // Get the button element by its id
  var button = document.getElementById("toggle-button");

  // Add a click event listener to the button
  button.addEventListener("click", function() {
    // Get all the div elements with the class form-group
    var formGroups = document.querySelectorAll(".form-group");

    // Loop through each div element
    for (var i = 1; i < 2; i++) {
      // Get the current div element
      var formGroup = formGroups[i];

      // Toggle the class visually-hidden on the div element
      formGroup.classList.toggle("visually-hidden");
    }
    if(button.textContent === "Hide"){
        button.textContent = "Custom Time"
    }
    else {
        button.textContent = "Hide"
    }
    
  });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
